{% extends 'base.html.twig' %}

{% block title %}liste des Clients
{% endblock %}

{% block body %}

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Gestionnaire des projets

			</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/admin">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="/projets">projets</a>
					</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body" style="background-color:#0e1641">

							<h5 class="card-title" style="color:#DEE9F3">
								<strong>Liste des projets AGM

								</strong>
							</h5>

							<table class="table" style="color:#DEE9F3">
								<thead>
									<tr>
										<th scope="col">titre</th>
										<th scope="col">Maître d'ouvrage</th>
										<th scope="col">description</th>
										<th scope="col">Afficher le project dans le site</th>
										<th scope="col"></th>



									</tr>
								</thead>
								<tbody>
									<tr>
										{% if listP | length == 0 %}
											<p style="text-align: center">Liste vide</p>
										{% endif %}
									</tr>
									{% for p in listP  %}

										<tr>

											<td>{{p.titre}}</td>
											<td>{{p.proprietaire}}</td>
											<td>{{p.description }}</td>
                                            
											<td>{{p.afficherProjet}}</td>
											<td>
												<a href="{{ path('modifierProjet',{id:p.id}) }}">
													<button type="button" class="btn btn-outline-warning">
														<i class="bi bi-pen" style="color:#DEE9F3"></i>
													</button>
												</a>

												<a href="{{ path('suppressionProjet',{id:p.id}) }}">
													<button type="button" class="btn btn-outline-warning">
														<i class="bi bi-trash" style="color:#DEE9F3"></i>
													</button>
												</a>
											</td>


										</tr>

									{% endfor %}


								</tbody>


							</table>
							<a href="{{ path('ajouterProjet') }}">
								<button type="button" class="btn btn-warning" style=" background-color:#ff9919 ">ajouter projet</button>
							</a>
						</div>
					</div>


				</div>


			</div>
		</section>

	</main>

{% endblock %}
